<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.liquid.settings" android:versionCode="1" 
      android:installLocation="auto" android:versionName="@string/app_vname">
    <uses-sdk android:minSdkVersion="8" />


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:persistent="true" 
    			android:allowTaskReparenting="true" android:testOnly="false" android:vmSafeMode="false" android:hasCode="true" android:killAfterRestore="false" android:description="@string/description" android:restoreAnyVersion="true" android:restoreNeedsApplication="false" android:allowBackup="false" android:allowClearUserData="false" android:enabled="true" android:debuggable="false">
        
        <activity android:name=".activities.settings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity class=".InfoPreferenceActivity"
		android:name=".activities.InfoPreferenceActivity"
        android:label="Information and documentation" />
 		
 		<activity class=".OverClockActivity"
		android:name="activities.OverClockActivity"
        android:label="Overclock" />

		<service android:enabled="true" android:name=".components.BottomLED_service" />            
		<receiver android:name=".components.BootReceiver">  
    		<intent-filter>  
        		<action android:name="android.intent.action.BOOT_COMPLETED" />  
    		</intent-filter>  
		</receiver>
		
		<receiver android:name=".components.IncomingCallReceiver"> 
                        <intent-filter> 
                            <action android:name="android.intent.action.PHONE_STATE"/>
                        </intent-filter> 
      	</receiver>
    	<service android:enabled="true" android:name=".components.ProxService" />
	</application>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
        <uses-permission android:name="android.permission.INTERNET"/>
        
</manifest>
